[Unit]
Description=Duel de Penals
After=network.target

[Service]
User=www-data
Group=www-data
WorkingDirectory=/opt/dueldepenals
Environment=SECRET_KEY=canvia-aquesta-clau
ExecStart=/opt/dueldepenals/venv/bin/gunicorn -k gevent -w 1 -b 0.0.0.0:5000 app:app
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
